Strict SMIv1 and SMIv2 parsing

When parsing SMIv1 files, any usage of symbols or constructs from SMIv2 should trigger a warning.

The opposite goes for SMIv2 files.


The simplest possible implementation should probably identify and categorize these three basic MIB imports. Warning could be issued when using "pre-SMIv1" or when mixing SMIv1 and SMIv2.

#### Macro definitions — `OBJECT-TYPE` (and more for SMIv2):
 - **pre-SMIv1:** RFC1065-SMI and RFC1155-SMI
 - **SMIv1:** RFC-1212
 - **SMIv2:** SNMPv2-SMI
 

#### SMI definitions — `enterprises`, `IpAddress` and others:
 - **pre-SMIv1:** RFC1065-SMI
 - **SMIv1:** RFC1155-SMI
 - **SMIv2:** SNMPv2-SMI

#### Textual conventions — `DisplayString`, `PhysAddress` and others:
 - **pre-SMIv1:** RFC1158-MIB
 - **SMIv1:** RFC1213-MIB
 - **SMIv2:** SNMPv2-TC

Warnings should probably also be issued when using a macro def without prior import.

Closing. Fixed in 2.10.